# Server configuration
PORT=3000
NODE_ENV=development

# Database configuration
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=database_development
DB_USER=postgres
DB_PASSWORD=password

# JWT configuration
JWT_SECRET=fellahconnect_jwt_secret
JWT_EXPIRES_IN=24h
